.cabecalho {
    background-image: linear-gradient(black, pink);
    color: rgb(255, 255, 255);
    display: flex;
    padding: 21px 0;

}

.secao {
    background-image: linear-gradient(pink, #ad44ad);
    padding: 100px;
}

.secao2 {
    background-image: linear-gradient(#ad44ad, #1a7ac9);
    padding: 100px;
}


.rodape {
    background-image: linear-gradient(#1a7ac9, black);
    color: aquamarine;
}

.rodape_img {
    width: 12%;
    height: 12%;
}