.cabecalho {
    background-color: rgb(235, 53, 113);
    color: azure;
    display: flex;
    padding: 24px 0;

}

.section1 {
    background-color: rgb(173, 68, 173);
    padding: 100px;
}

.section2 {
    background-color: #1a7ac9;
    padding: 100px;
}

    .cabecalho-imagem{
        width: 20%;
    }